/* Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-size: 100%;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
}