<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/technology-a.css" />
    <script src="/technology-a.js"></script>
    <title>Technology-A</title>
  </head>
  <img
    src="/assets/imgs/backgrounds/tech/background-technology-desktop.jpg"
    alt=""
    class="img-background"
  />
  <body>
    <nav>
      <img src="/assets/imgs/icons/logo.svg" alt="icon" class="icon" />
      <div class="line__middle"></div>
      <div class="nav">
        <ul class="nav__links">
          <li class="nav__linkitem"><a href="#">home</a></li>
          <li class="nav__linkitem"><a href="#">destination</a></li>
          <li class="nav__linkitem"><a href="#">crew</a></li>
          <li class="nav__linkitem"><a href="#">technology</a></li>
        </ul>
        <div class="line__under"></div>
      </div>
    </nav>

    <div class="slogan">
      <h5 class="h5--number">03</h5>
      <h5>space launch 101</h5>
    </div>

    <div class="shift">
      <div onclick="shift1()" class="number">
        <h4>1</h4>
      </div>
      <div onclick="shift2()" class="number">
        <h4>2</h4>
      </div>
      <div onclick="shift3()" class="number">
        <h4>3</h4>
      </div>
    </div>

    <div class="content">
      <p class="sub-h-3">the terminology_</p>
      <h3>launch vehicle</h3>
      <p class="text">
        A launch vehicle or carrier rocket is a rocket-propelled vehicle used to
        carry a payload from Earth's surface to space, usually to Earth orbit or
        beyond. Our WEB-X carrier rocket is the most powerful in operation.
        Standing 150 metres tall, it's quite an awe-inspiring sight on the
        launch pad!
      </p>
    </div>

    <div class="bitmap-outer">
      <div class="bitmap-inner">
        <img
          src="/assets/imgs/artworks/tech/image-launch-vehicle-portrait.jpg"
          alt="1"
        />
        <img
          src="/assets/imgs/artworks/tech/image-spaceport-portrait.jpg"
          alt="3"
        />
        <img
          src="/assets/imgs/artworks/tech/image-space-capsule-portrait.jpg"
          alt="2"
        />
      </div>
    </div>
    <button onclick="leftShift()">left</button>
    <button onclick="rightShift()">right</button>
  </body>
</html>
